@import "mixins";
@import "fonts";
@import "others";
@import "variables";
@import "settings";

p {
  margin-top: 23px;
  & {
    position: relative;
  }
}

body {
  background-image: url("../img/img-webpack.png");
}
